<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SalesSystemEntities" connectionString="metadata=res://*/DB.DBSales.csdl|res://*/DB.DBSales.ssdl|res://*/DB.DBSales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ASPGSOQ\ILYASSE;initial catalog=SalesSystem;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>